    .Login {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .Login-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      #5c795b 70%,
      #b1d2b1 70%
    );
  }
  
  
  .logo-container {
    padding: 1px;
    border-radius: 50%;
    margin-bottom: 20px;
    background: transparent; 
  }
  
  
  .Login-logo {
    height: 80px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 8px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
  }
  
  .login-form button {
    background-color: #62c260; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  .forgot-password-link {
    color: #fff;
    margin-top: 20px;
  }
  