body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Login {
  text-align: center;
  font-family: Arial, sans-serif;
}

.Login-header {
  background-color: #5c795b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  background-color: #333;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Login-logo {
  height: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 8px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
}

.login-form button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.forgot-password-link {
  color: #fff;
  margin-top: 20px;
}
